
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



:root{
    --used-color:#334;
}

h1,h2,h3,h4,a,p{
    color:var(--used-color);
}

a{
    text-decoration: none;
}

h1{
    font-size:2.5rem;
}

h2{
    font-size:2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

h3{
    font-weight: 600;
    color:yellow;
}

i{
    color:orange;
}

p{
    font-weight: 300;
    color:purple;
}

.m-t{
    margin-top:150px;
}

.m-b{
    margin-bottom:100px;
}


.container{
    width:70%;
    margin:auto;
    text-align: center;
}

nav{
    height: 100px;
}

nav h2{
    float:left;
    display: inline;
    line-height: 80px;
}

nav ul{
    float:right;
    line-height: 100px;
}

nav ul li{
    display:inline-block;
    margin:0 8px;
}

nav ul li a{
    text-transform: uppercase;
}

.active{
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 20px;
    color:#fff;
}


/* Showcase section */

.showcase{
    height: calc(100vh - 100px);
    /* pexels-christina-morillo-1181271 */
    background-image: linear-gradient(to bottom, rgba(219, 109, 5, 0.5), rgba(0,0,255,0.5)),
    url("./img/aa.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 10px solid orangered;


}


.showcase-content h1{
    color:#fff;
    letter-spacing: 2px;
}

.showcase-content p{
    color:#fff;
    margin:50px 0;
}


.showcase-content{
    width: 50%;
    margin:auto;
    text-align:center;
    
    transform:translateY(20vh);
}

.showcase-content .btn{
    color:#fff;
    border:2px solid #fff;
    padding:10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .5s;
}

.showcase-content .btn:hover{
    background-color: orangered;
    border:0;
}


/* About */



.about .about-image{
    width: 50%;
    float:left;
    margin:180px 40px 0 -85px;
}

.about-wrapper img{
    max-width: 80%;
    height: auto;
    margin:15px 15px 0 0;
}

.about .about-content{
    width: 45%;
    float: right;
    text-align: left;
    margin-top:60px;
}

.line{
    width:150px;
    margin-top:50px;
    height: 6px;
    background-color: orangered;
}

.about p{
    margin-top:50px;
}

.about ul{
    margin-top: 50px;
}


 .about ul li{
     margin:10px 0;
 }

 .about .fa-li{
     margin-left:-20px;
 }

 .social-icon i{
     padding:10px;
     margin:20px;
     font-size:30px;
     border:1px solid blue;
 }


